//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    help = false
    version = false

    barcodes_csv = null
    run_dir = null

    out_dir = "output"

    // Other options
    disable_ping = false
    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    analyse_unclassified = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,database_sets,wf'


    // Workflows images
    wf {

        example_cmd = [
            "-b 'piranha/test/pak_run/barcodes01.csv'",
            "-i 'piranha/test/pak_run/demultiplexed'",
        ]
        agent = null
        container = "polionanopore/piranha"
        container_sha = "sha256:f91fd4880a848ee287de9f6dc59566739267103f5f82de3f0f11873b35b5c78a"
    }
}


manifest {
    name            = 'polio-nanopore/piranha'
    author          = 'Aine O Toole'
    homePage        = 'https://github.com/polio-nanopore/piranha'
    description     = 'Polio investigation resource automating nanopore haplotype analysis.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = '1.1'
}


executor {
    $local {
        cpus = 8
        memory = "8 GB"
    }
}

// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    shell = ['/bin/bash', '-euo', 'pipefail']
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }


    conda {
        conda.enabled = true
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}

env {
	PYTHONNOUSERSITE = 1
}